<ul class="chat">
    {% for message in messages|reverse %}
        <li class="left clearfix"><span class="chat-img pull-left">
                           <a href="{{ path('user_profile',{'user':message.author.id}) }}">
                               <img src="{{ message.author.avatar }}" alt="User Avatar" class="img-circle avatar" />
                               </a>
                        </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <a href="{{ path('user_profile',{'user':message.author.id}) }}"><strong class="primary-font">{{ message.author.username }}</strong></a> <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>{{ message.date|date('d/m h:s') }}</small>
                </div>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </li>
    {% endfor %}
</ul>