{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('user_list') }}" class="btn btn-bc">User</a>
    <a href="{{ path('user_profile',{'user':user.id}) }}" class="btn btn-bc">{{ user.username }}</a>
    <a href="#" class="btn btn-bc">Follows</a>

{% endblock %}


{% block body %}
    <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center big">{{ user.username }}</h3>
            </div>
            <div class="panel-body text-center">
                <img src="{{  asset(user.avatar) }}" alt="avatar de {{ user.username }}" class="img-responsive avatar" />
                <p>
                    <i class="fa fa-user"></i> {{ user.name }}
                    <br />
                    <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                    <br />
                    <i class="glyphicon glyphicon-gift"></i> {{ user.age }} ans
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center big">Series suivies</h3>
            </div>
            <div class="panel-body text-center">
                {% for serie in user.follow %}
                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <figure class="thumbnail">
                            <a href="{{ path('serie_show',{'serieId':serie.id}) }}">
                                {% if serie.picture %}
                                    <img src="{{ asset(serie.picture.url) }}" alt="{{ serie.name }}" width="80%" class="img-responsive">
                                {% endif %}
                                <figcaption class="big">{{ serie.name }}</figcaption>
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        figure{
            display: inline-block;
        }
        figure img{
            max-width: 100px;
            max-height: 150px;
        }
    </style>
{% endblock %}
