{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('user_list') }}" class="btn btn-bc">Membres</a>
{% endblock %}


{% block body %}

<div class="container dynamicTile">
<div class="row ">
{% for user in users %}
<a href="{{ path('user_profile',{'user':user.id}) }}">
    <div class="col-sm-2 col-xs-4">
    	<div id="tile{{ loop.index }}" class="tile">

         <div class="carousel slide" data-ride="carousel">
         <div class="username">{{ user.username }}</div>
          <div class="carousel-inner">
            <div class="item active overlay">
               <img src="{{ asset(user.avatar) }}" alt="{{ user.username }}" />
            </div>
          </div>
        </div>

    	</div>
	</div>
	</a>
{% endfor %}
{% endblock %}


{% block stylesheets %}
    <style>
        .username{
            position:absolute;
            bottom: 0px;
            text-align: center;
            font-size: 1.3em;
            width: 100%;
            background-color: #222222;
            color:#f6f6f6;
            z-index: 2;
            opacity: 0.5;
        }
    </style>
{% endblock %}