{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('user_list') }}" class="btn btn-bc">Membres</a>
    <a href="#" class="btn btn-bc">{{ user.username }}</a>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 paddinguser ">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h1>{{ user.username }}</h1>
                        <p><strong>Name: </strong> {{ user.name }} </p>
                        <p><strong>Age: </strong> {{ user.age }} ans</p>
                        <p><strong>Email: </strong> {{ user.email }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src="{{ asset(user.avatar) }}" alt="" class="img-responsive avatar">
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <a href="{{ path('user_follows',{'user':user.id}) }}" class="clear" >
                            <h2 class=""><strong> {{ user.follow|length }} </strong></h2>
                            <p><small>Series Suivies</small></p>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <h2><strong>{{ user.watch|length }}</strong></h2>
                        <p><small>Episodes vus</small></p>
                    </div>
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <h2><strong>43</strong></h2>
                        <p><small>Critiques</small></p>
                    </div>
                    <div class="col-xs-12 col-sm-3 emphasis">
                        <h2><strong>137</strong></h2>
                        <p><small>J'aime/J'aime pas</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == user.id %}
            <div class="col-md-2 col-lg col-lg-3">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info"><i class="fa fa-pencil"> Edit</i></a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="col-md-2 col-lg col-lg-3">
                {% if user.enabled %}
                    <a href="{{ path('admin_users_ban',{'user' : user.id}) }}" class="btn btn-danger"><i class="fa fa-ban"> Bannir</i></a>
                {% else %}
                    <a href="{{ path('admin_users_ban',{'user' : user.id}) }}" class="btn btn-success"><i class="fa fa-ban"> Debannir</i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}