{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('serie_index') }}" class="btn btn-bc" xmlns="http://www.w3.org/1999/html">Séries</a>
    <a href="#" class="btn btn-bc"><strong>Modifier :</strong> {{ serie.name }}</a>
{% endblock %}


{% block body %}
    <div class ="back">
    <div class="col-xs-12">
        <a href="{{ path('serie_index') }}" id = "back" class="btn btn-primary">Retour à la liste</a>
    </div>
    </div>
    <h1>Serie edit</h1>
<div class="serie-form">

{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div >
        <div class= "form-text">
            {{ form_label(edit_form.name) }}
        </div>
            {{ form_errors(edit_form.name) }}
            {{ form_widget(edit_form.name) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.description) }}
        </div>
            {{ form_errors(edit_form.description) }}
            {{ form_widget(edit_form.description) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.thTvdbID) }}
        </div>
            {{ form_errors(edit_form.thTvdbID) }}
            {{ form_widget(edit_form.thTvdbID) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.validated) }}
        </div>
            {{ form_errors(edit_form.validated) }}
            {{ form_widget(edit_form.validated) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.picture) }}
        </div>
            {{ form_errors(edit_form.picture) }}
            {{ form_widget(edit_form.picture) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.language) }}
        </div>
            {{ form_errors(edit_form.language) }}
            {{ form_widget(edit_form.language) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(edit_form.author) }}
        </div>
            {{ form_errors(edit_form.author) }}
            {{ form_widget(edit_form.author) }}
    </div>
    <div class ="back">
    <input type="submit" class="btn btn-primary" value="Editer" />
    <input type="submit" class="btn btn-danger" value="Supprimer">
    </div>
{{ form_end(edit_form) }}
</div>

{% endblock %}
