{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    <a href="#" class="btn btn-bc">Séries</a>
{% endblock %}
{% block body %}
    <h1>Liste des séries</h1>
    <p><a href="{{ path('serie_new') }}" class="btn btn-primary btn-bg">Créer une nouvelle série</a></p>
    <div class="row">
        {% for serie in series %}
        <a href="{{ path('serie_show', { 'serieId': serie.id }) }}">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbnail">
                    {% if serie.picture %}
                        <img src="{{ asset(serie.picture.url) }}" alt="{{ serie.name }}" width="80%" class="img-responsive">
                    {% endif %}
                    <figcaption class="text-center caption">{{ serie.name }}</figcaption>
                </figure>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}


