{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serie list</h1>
    <p><a href="{{ path('serie_new') }}" class="btn btn-primary btn-bg">Create a new entry</a></p>
    <div class="row">
        {% for serie in series %}
        <a href="{{ path('serie_show', { 'serieId': serie.id }) }}">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <figure class="thumbnail">
                    <img src="{{ serie.picture[0].url }}" alt="{{ serie.picture[0].alt }}" width="80%" class="img-responsive">
                    <figcaption class="text-center caption">{{ serie.name }}</figcaption>
                </figure>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}


