{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('serie_index') }}" class="btn btn-bc">Séries</a>
    <a href="#" class="btn btn-bc">Ajouter une série</a>
{% endblock %}


{% block body %}
    <h1>Serie creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('serie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
