{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('serie_index') }}" class="btn btn-bc">Séries</a>
    <a href="#" class="btn btn-bc">Ajouter une série</a>
{% endblock %}


{% block body %}
    <div class ="back">
    <div class="col-xs-12">
        <a href="{{ path('serie_index') }}" id = "back" class="btn btn-primary">Retour à la liste</a>
    </div>
    </div>
    <h1>Serie creation</h1>
<div class="serie-form">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div >
        <div class= "form-text">
            {{ form_label(form.name) }}
        </div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.description) }}
        </div>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.thTvdbID) }}
        </div>
            {{ form_errors(form.thTvdbID) }}
            {{ form_widget(form.thTvdbID) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.validated) }}
        </div>
            {{ form_errors(form.validated) }}
            {{ form_widget(form.validated) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.picture) }}
        </div>
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.language) }}
        </div>
            {{ form_errors(form.language) }}
            {{ form_widget(form.language) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.author) }}
        </div>
            {{ form_errors(form.author) }}
            {{ form_widget(form.author) }}
    </div>
    <div class ="back">
    <input type="submit" class="btn btn-primary" value="Créer" />
    </div>
{{ form_end(form) }}
</div>


{% endblock %}

{#
{% block javascripts %}
    <script>

        $('#serie_name').on('change',function(){
            var serieName = $('#serie_name').val();

            $.ajax({
                        method: "GET",
                        url: "/tvdb/series/"+serieName,
                        beforeSend: function(){
                            $('#tvdb_result').html('loading...');
                        }
                    })
                    .done(function( msg ) {
                        if (msg != '[]'){
                            $('#tvdb_result').html('');
                            var series = JSON.parse(msg);
                            for (var i=0; i<series.length;i++){
                                var serie = series[i];
                                showSerie(serie);
                            }
                        }else{
                            $('#tvdb_result').html('Aucun résultat trouvé sur TheTVDB');
                        }

                    });

        });

        function hydratSerie(serie){
            return function(){
                $('#serie_name').val(serie.name);
                $('#serie_description').val(serie.overview);
                $('#serie_thTvdbID').val(serie.id);
                if (serie.language == 'fr'){
                    $('#serie_language option[value="1"]').prop('selected', true);
                }else{
                    $('#serie_language option[value="2"]').prop('selected', true);
                }

            }
        }

        function showSerie(serie){
            if (serie.bannerUrl){
                $('#tvdb_result').append('<img src="'+serie.bannerUrl+'" height="60px" id="serie-'+serie.id+'-'+serie.language+'"><br />');

            }else{
                $('#tvdb_result').append('<div class="btn btn-lg btn-default" id="serie-'+serie.id+'-'+serie.language+'">'+serie.name+'</div><br />');
            }
            $('#serie-'+serie.id+'-'+serie.language).on('click',hydratSerie(serie));
        }
    </script>
{% endblock %}
#}