{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('serie_index') }}" class="btn btn-bc">Séries</a>
    <a href="#" class="btn btn-bc">{{ serie.name }}</a>
{% endblock %}

{% block body %}
    <div class ="back">
        <div class="col-xs-12">
            <a href="{{ path('serie_index') }}" id = "back" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
    <div class="style1">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="thumbnail">
                    {% if serie.picture %}
                        <img src="{{ asset(serie.picture.url) }}" alt="{{ serie.name }}" />
                    {% endif %}
                </div>
                <div class="text-center col-xs-6" >
                    <div class="block">
                        <h3>{{ nbSaisons }} <small>Saisons</small></h3>
                    </div>
                </div>
                <div class="text-center col-xs-6" >
                    <div class="block">
                        <h3>{{ serie.episodes|length }} <small>Episodes</small></h3>
                    </div>
                </div>
                <div class="text-center col-sm-12" >
                    {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : serie.id} %}
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="col-xs-6">
                        <a href="{{ path('serie_edit', { 'id': serie.id }) }}" class="btn btn-warning btn-block medium"><i class="fa fa-pencil-square-o"></i> Editer</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path('episode_new', { 'id': serie.id }) }}" class="btn btn-info btn-block medium"><i class="fa fa-pencil"></i> Créer</br> épisode</a>
                    </div>
                    <div class="col-xs-6">
                        {% if app.user.isFollow(serie) %}
                            <a href="{{ path('serie_follow',{'serie':serie.id}) }}" class="btn btn-info btn-block medium"><i class="fa fa-eye-slash"></i> Ne plus suivre</a>
                        {% else %}
                            <a href="{{ path('serie_follow',{'serie':serie.id}) }}" class="btn btn-primary btn-block medium"><i class="fa fa-eye"></i> Suivre</a>
                        {% endif %}
                    </div>
                {% endif %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <div class="col-xs-6 ">
                        {{ form_start(delete_form) }}
                        <input type="submit" id="submit" value="&#xf1f8; Supprimer" class="btn btn-danger btn-block search <medium></medium>">
                        {{ form_end(delete_form) }}
                    </div>
                {% endif %}


            </div>
            <div class="col-xs-12 col-sm-7">
                <p class="text-center block biggest"><strong>{{ serie.name }}</strong></p>
            </div>
            <div class="col-xs-12 col-sm-2 ">
                <div class="block badger-right badger-inverse box-primary text-center" data-badger="Language" >
                    <span class="bigger"> {{ serie.language.sName }}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="block badger-left badger-inverse" data-badger="Description">
                    <p class="description">{{ serie.description }}</p>
                </div>
            </div>
            <div class="hidden-xs col-sm-9">
                <div class="block" >
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="list-group">
                                {% if nbSaisons %}
                                    {% for i in 1..nbSaisons %}
                                        <a href="#saison-{{ i }}" id="#saison-{{ i }}-tab" data-toggle="tab" aria-controls="saison-{{ i }}">
                                            <button type="button" class="list-group-item">Saison {{ i }}</button>
                                        </a>

                                    {% endfor %}
                                    {% else %}
                                    Encore aucun épisode !
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-10">
                            <div id="myTabContent" class="tab-content">
                                {% set current_saison = -1 %}
                                {% for episode in serie.episodes %}
                                {% if episode.saison != current_saison %}
                                {% if current_saison != -1 %}
                            </div>
                            {% endif %}
                            {% set current_saison = episode.saison %}

                            <table role="tabpanel" id="saison-{{ current_saison }}" aria-labelledby="saison-{{ current_saison }}" class="table table-hover tab-pane fade">
                                {% endif %}
                                <tr>
                                    <td>{{ episode.episodeNumber}} - {{ episode.name }}
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.isWatch(episode) %}
                                            <a href="{{ path('episode_watch',{'episode':episode.id}) }}">
                                                <span class="btn btn-info pull-right"><i class="fa fa-eye-slash"></i></span>
                                            </a>
                                            <a href="{{ path('episode_edit',{'id':episode.id}) }}">
                                                <span class="btn btn-warning pull-right"><i class="glyphicon glyphicon-edit"></i></span>
                                            </a>
                                        {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <a href="{{ path('episode_watch',{'episode':episode.id}) }}">
                                                <span class="btn btn-primary pull-right"><i class="fa fa-eye"></i></span>
                                            </a>
                                            <a href="{{ path('episode_edit',{'id':episode.id}) }}">
                                                <span class="btn btn-warning pull-right"><i class="glyphicon glyphicon-edit"></i></span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="block badger-right badger-info" data-badger="Critiques">
                {% if is_granted('ROLE_USER') %}
                    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': serie.id} %}
                {% else %}
                    <p>Connetez-vous pour accéder aux critiques.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}