<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/75897-5.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-primary">Nouvelle Episode</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/289590-1.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-primary">Nouvelle Saison</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/289590-1.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-warning">Nouvelle Critique</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/260449-8.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-warning">4 Nouvelles Critiques</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/290853-8.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-default">Fiche Modifiée</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-3 col-md-4 text-center">
                <img src="{{ asset('uploads/262980-11.jpg') }}" alt="Serie Name" class="img-rounded img-responsive thumbnail-actu" />
            </div>
            <div class="col-xs-9 col-md-8 section-box text-left">
                <p>
                    <span class="big"> Serie Name </span>
                    <br/>
                    <span class="label label-warning">4 Nouvelles Critiques</span>
                    <br/>
                    <span class="pull-right"><i class="fa fa-clock-o   "></i> Il y a 14min</span>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .thumbnail-actu{
        max-height: 70px;
    }
</style>