<div class="carousel slide" data-ride="carousel" role="listbox">
    <div class="carousel-inner">
        {% for comment in lastComments %}
        <div class="item  {% if loop.first %}active{% endif %}">
            <div class="testimonials">
                <div class="active item">
                    <blockquote><p>{{ comment.body }}</p></blockquote>
                    <div class="carousel-info">
                        <div class="col-sm-6">
                            {%   set commentSerie = helpSerie.getThisSerie({'id':comment.thread.id}) %}
                            <img alt="" src="{{ asset(comment.author.avatar) }}" class="pull-left">
                            <div class="pull-left">
                                <span class="testimonials-name">{{ comment.author.username }}</span>
                                <span class="testimonials-post">{{ comment.createdAt|date('d/m h:i') }}</span>
                            </div>
                        </div>
                        <a href="{{ path('serie_show',{'serieId':comment.thread.id}) }}">
                        <div class="col-sm-6">
                                <img alt="{{ commentSerie.name }}" src="{{ asset(commentSerie.picture.url) }}" class="pull-right">
                            <div class="pull-right">
                                {# FIXME: inline display... #}
                                {% include 'DCSRatingBundle:Rating:rating.html.twig' with {'id' : commentSerie.id} %}
                            </div>
                            <div class="pull-right">
                                <p class="testimonials-name">{{commentSerie.name }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<style>
    /* Content */
    .content {
        padding-top: 30px;
    }

    /* Testimonials */
    .testimonials blockquote {
        background: #f8f8f8 none repeat scroll 0 0;
        border: medium none;
        color: #666;
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        position: relative;
    }
    .testimonials blockquote::before {
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        content: " ";
        display: block;
        position: absolute;
        border-bottom: 20px solid #fff;
        border-right: 0 solid transparent;
        border-left: 15px solid transparent;
        border-left-style: inset; /*FF fixes*/
        border-bottom-style: inset; /*FF fixes*/
    }
    .testimonials blockquote::after {
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        content: " ";
        display: block;
        position: absolute;
        border-style: solid;
        border-width: 20px 20px 0 0;
        border-color: #e63f0c transparent transparent transparent;
    }
    .testimonials .carousel-info img {
        border: 1px solid #f5f5f5;
        height: 75px;
        padding: 3px;
        max-width: 75px;
    }
    .testimonials .carousel-info {
        overflow: hidden;
    }
    .testimonials .carousel-info img {
        margin-right: 15px;
    }
    .testimonials .carousel-info span {
        display: block;
    }
    .testimonials span.testimonials-name {
        color: #e6400c;
        font-size: 16px;
        font-weight: 300;
        margin: 23px 0 7px;
    }
    .testimonials span.testimonials-post {
        color: #656565;
        font-size: 12px;
    }
</style>