{% extends 'base.html.twig' %}


{% block body %}
    <div class ="back">
    <div class="col-xs-12">
        <a href="{{ path('serie_index') }}" id = "back" class="btn btn-primary">Back to the list</a>
    </div>
    </div>
    <h1>Episode Create</h1>
<div class="serie-form">

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div >
        <div class= "form-text">
            {{ form_label(form.name) }}
        </div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.description) }}
        </div>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.saison) }}
        </div>
            {{ form_errors(form.saison) }}
            {{ form_widget(form.saison) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.episodeNumber) }}
        </div>
            {{ form_errors(form.episodeNumber) }}
            {{ form_widget(form.episodeNumber) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.validated) }}
        </div>
            {{ form_errors(form.validated) }}
            {{ form_widget(form.validated) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.language) }}
        </div>
            {{ form_errors(form.language) }}
            {{ form_widget(form.language) }}
    </div>
    <div>
        <div class= "form-text">
            {{ form_label(form.author) }}
        </div>
            {{ form_errors(form.author) }}
            {{ form_widget(form.author) }}
    </div>
    <div class ="back">
    <input type="submit" class="btn btn-primary" value="Create" />
    </div>
{{ form_end(form) }}
</div>

{% endblock %}

